.editor {
	padding: 10px 20px 20px;
}

.code {
		width: 100%;
}

.controls {
	li.formatter {
		display: inline-block;
		margin-right: 10px;
		cursor: pointer;
	}
}

.editor {
	input {
		width: 100%;
	}
}

.contentField {
	width: 100%;
}

.contentPreview {
	cursor: text;
	padding: 10px;
	border: 1px solid $color-gray;
	margin: 5px 0;
}

.code {
	font-family: monospace;
}
