.editor-dialog {
	padding: 10px 20px 20px;

	input {
		width: 100%;
	}
}

.code {
		width: 100%;
		color: darkblue;
}

.controls {
	li.formatter {
		display: inline-block;
		margin-right: 10px;
		cursor: pointer;
	}
}

.preview-button {
	text-align: right;
	clear: both;
}

$susy: (
	gutters: 1/8
);

.editor {
	@include container();
	overflow: hidden;
}

.no-preview {
	.content-field {
		@include span(1 of 1);
	}

	.content-preview {
		width: 0;
		height: 0;
		overflow: hidden;
		transition: width, 0.3s;
	}
}

%editor-box {
	width: 100%;
	margin: 5px 0;
	border-width: 1px;
	border-style: solid;
	transition: width, 0.3s;
}

.content-field {
	@extend %editor-box;
	@include span(1 at 1 of 2);
	// transition: border-color, 0.7s;
	border-color: $color-gray-lighter;

	&:hover {
		border-color: $color-gray-darker;
	}

}

.content-preview {
	@extend %editor-box;
	border-color: transparent;
	@include span(1 at 2 of 2);
}

.code {
	font-family: monospace;
}

.hint {
	margin-top: 10px;
	clear: both;
}

.details {
	font-size: 0.8em;
}

.save-button {
	@extend .button;
	padding: 15px;

	&:hover {
		color: white;
	}

	a:hover {
		color: white;
	}
}