.editor {
	padding: 10px 20px 20px;
}

.code {
		width: 100%;
		color: green;
}

.controls {
	li.formatter {
		display: inline-block;
		margin-right: 10px;
		cursor: pointer;
	}
}

.editor {
	input {
		width: 100%;
	}
}

.contentField {
	width: 100%;
}

.content-preview {
	cursor: text;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: $color-gray-lighter;
	margin: 5px 0;
	transition: background, border-color 0.7s;

	&:hover {
		background: white;
		border-color: $color-gray-darker;
	}
}

.code {
	font-family: monospace;
}

.hint {
	margin-top: 10px;
}

.details {
	font-size: 0.8em;
}

.save-button {
	@extend .button;
	padding: 15px;

	&:hover {
		color: white;
	}

	a:hover {
		color: white;
	}
}