// todo: download and take offline
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700");

%font {
    font-family: "Open Sans", sans-serif;
}


.subdued {
	font-size: 1em;
	font-variant: small-caps;
	font-weight: 400;
	color: mix($color-gray-light, blue, 0.5);
}

.inverted {
	color: white;
}