@import "compass";
@import "font-awesome.css";
@import "compass/reset";
@import "modular-scale";
@import "breakpoint";
@import "susy";

$susy: (
  // gutters: 1/4
  // gutter-position: outside
);


@import "toolkit";
@import "toolkit/kickstart";

@import "grid";
@import "colors";
@import "typography";

@import "borders";
@import "ngdialog";
@import "editor";


img {
	max-width: 100%;
}

.card {
	border: 1px solid $color-gray-lighter;
	padding: 1em;
	margin: 3px;
	min-height: 200px;
	transition: border-color 0.7s;
	cursor: pointer;
	position: relative;

	.cta {
		display: none;
		padding-bottom: 2em;
		margin-top: 0.5em;
	}

	&:hover {
		border-color: $color-gray-darker;
		.cta {
			display: block;
		}

		.card-controls {
			border-bottom-color: $color-gray-light;
		}
	}
}

.card-controls-icon {
	position: absolute;
	bottom: 2px;
	right: 2px;
	a {
		color: white;
	}
}

.card-controls {
	@include triangle(transparent, 2em, 2em, 45);
	position: absolute;
	bottom: 0;
	right: 0;
	transition: border-bottom-color, 0.5s;

	ul {
		height: 2em;
		width: 4em;
		left: -100%;

		li {
			height: 2em;
			width: 2em;
			display: inline-block;
			background: $color-gray-light;
			padding: 0.5em;

			a {
				color: white;
			}
		}
	}
}


h1 {
	font-size: 2em;
	font-weight: 700;
}

h2 {
	font-size: 1.7em;
	line-height: 1.5em;
	font-weight: 700;
}

h3 {
	font-size: 1.4em;
	line-height: 1.5em;
	font-weight: 700;
}

h4 {
	font-size: 1.2em;
	line-height: 1.5em;
	font-weight: 700;
}

a {
	cursor: pointer;
	color: $color-gray-dark;
	&:hover {
		text-decoration: underline;
	}
}

.cta {
	border: 1px solid $color-gray-lighter;
	background: $color-gray-light;
	padding: 1em;
	a {

	}

}

.card-suggestions {
	padding: 1em 0 1em 0;

	p {
		margin: 1em 0;
	}
}

.resource {
	padding: 1em;
	a {
		font-weight: 700;
	}
}

body {
	@extend %font;
	color: $color-gray-dark;
}

$header-padding: 1em;

header {

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;

	padding: $header-padding;

	ul li {
		display: inline-block;
	}

	@include container (70em);
}

.add {
	@include span(1 at 2 of 8);
}

input.omnibar {
	@include span(6 at 2 of 8);
	padding: 10px 0;
}

.export {
	@include span(1 at 8 of 8);
}

.button {
	cursor: pointer;
	padding: 10px 0;
	background: $color-gray-lighter;
	text-align: center;
	transition: all 0.5s;
	border-radius: 3px;

	&:hover {
		background: $color-gray;
		color: white;
	}
}



main {
	@include container(70em);
	@include clearfix;
	margin-top: 5em + 2 * $header-padding;
}

.deckgrid {
	clear: both;
}

.compact .name {
	color: black;
}

.info-collapsed {
	@include clearfix;
	width: 100%;

	li {
		display: inline;
		float: left;
		padding-right: 2%;
	}

	.name {
		@extend h1;
		display: inline;
	}
}


.actions li {
	display: inline;
	padding-right: 5px;
	vertical-align: top;

}

.right {
	float: right !important;
}

.left {
	float: left !important;
}

.clear {
	clear: both;
}

.inline {
	li {
		display: inline-block;
		margin-right: 12px;
	}
	li:last-child {
		display: initial;
		margin-right: initial;
	}
}

.introduction {
	clear: both;
	margin-top: 30px;
	@include container(60em);

	p {
		margin-left: 30px;
	}
	ul {
		margin-left: 30px;
	}
}

.panel {
	background: $color-gray-faint;
	padding: 30px;
	border-radius: 5px;

}

.controls {
	cursor: pointer;
}

.fa {
	cursor: pointer;
}