doctype html
html(lang="en")
  head
    link(rel="stylesheet", href='bower/xeditable.css')
    link(rel="stylesheet", href='bower/ngDialog.css')
    link(rel="stylesheet", href='bower/ngDialog-theme-default.css')
    link(rel='stylesheet', href='styles/app.css')
    script(src='bower/jquery.js')
    script(src='bower/lodash.compat.js')
    script(src='bower/angular.js')
    script(src='bower/angular-ui-router.js')
    script(src='bower/angular-placeholders.js')
    script(src='bower/angular-scroll.min.js')
    script(src='bower/angular-deckgrid.js')
    script(src='bower/angular-inview.js')
    script(src='bower/ngDialog.js')
    script(src='bower/xeditable.js')
    script(src='scripts/app.js')

  body(ng-app='prototypeAngularApp' ng-controller='MainCtrl')
    header
          .button.add(ng-click="editNewCard()")
            i.fa.fa-plus-circle
            | 
            | Add
          input.omnibar(placeholder="Open")
          a.export(title="Export entire site"
            onclick="alert('This would have saved your entire site as an HTML file')"
            )
            | Export Data
            | 
            i.fa.fa-download.fa-lg.right
          
    main
      .deckgrid(deckgrid, source='cards', cardTemplate='views/card.html')
      .no-deckgrid(ng-show="noCards()")
        | You have no cards! 
        a(ng-click="editNewCard()") Add one
        |  to get started.
    aside.introduction.panel(ng-hide="dismissedIntro")
        a.right(ng-click="dismissedIntro = true")
          i.fa.fa-times 
        h1 Welcome to TiddlyWiki!
        p This is a system for organizing information in your own way, no matter how complicated
        p With TiddlyWiki, you get the following benefits:
          ul
            li
              p
                strong Portable. 
                | You can export this entire site, 
                em including 
                | your data, into a self-contained HTML file and open it on any browser
            li
              p
                strong Compatible. 
                | It works across all platforms. any browser will open it
            li
              p 
                strong It's Free. 
                | You don't need to purchase anything or pay a fee to use it.
        h1 What do I need to know to started?
        p What you write in your cards will be in what is called wikitext, which gives you a number of benefits:
        
          ul
            li
              p
                strong Quick linking. 
                | Though TiddlyWiki acts more like a note-taking application, you get the benefit of Wikis too. This includes the ability to quickly create pages. Typing  
                span.code
            li
              p
                strong Quick formatting. 
                | By typing in special symbols, you can specify the formatting of the contents of your Tiddlers. See the 
                a(href="http://tiddlywiki.tiddlyspace.com/TiddlyWiki%20Markup", target="_blank") reference guide
                |  for more information. 